<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ideatec.datamigration.obedm.dao.EdmMapper">
	<select id="test" resultType="java.util.Map">
	select TOI.order_number
	  from t_order_item toi
	 where toi.order_number ='23-00059108'
	</select>

	<select id="getOrderData" resultType="com.ideatec.datamigration.util.CarmelHashMap" parameterType="java.util.Map">
		select oi.order_number
	     , oi.ws_id
	     , oi.vendor_account_id
	     , oi.vendor_item_id
	     , oi.unit_quantity
	     , oi.box_quantity
	     , oi.delivery_date
	     , ta.customer_account_id as brn
	  from t_order_item oi
	 inner join t_account ta
	    on oi.vendor_account_id = ta.account_id
	 where oi.ws_id = #{wsId}
	   and oi.delivery_date = to_date(#{deliveryDate},'YYYY-MM-DD')
	   and oi.order_number = #{orderNumber}
	   and oi.vendor_item_id = #{sku}
	</select>

	<select id="getInvoiceData" resultType="com.ideatec.datamigration.util.CarmelHashMap" parameterType="java.util.Map">
	select ti.datas
	  from t_interface ti
	 where ti.tx_id = 'KEDM00005_INVOICE_KSTA_0001_202311141656205ea78c1wm2'
	</select>

	<select id="getInvoiceSendData" resultType="com.ideatec.datamigration.util.CarmelHashMap" parameterType="java.util.Map">
select ti.datas
  from t_interface ti
 where ti.parents_tx_id = 'KEDM00005_INVOICE_KSTA_0001_20231116113039216ddcxtu1'
	</select>

	<select id="getItemByWsAndSku" resultType="com.ideatec.datamigration.obedm.entity.ItemVo" parameterType="java.util.Map">
 select item_seq,
		ws_id,
		vendor_item_id,
		insert_dtm,
		update_dtm,
		item_name,
		sku,
		brand_id,
		brand_name,
		min_order_quantity,
		is_alcoholic,
		is_narcotic,
		default_language,
		manufacturer_id,
		has_been_updated,
		item_type,
		uncategorized,
		container_name,
		container_size,
		container_unit_of_measurement,
		container_returnable,
		container_material,
		supplier_short_name,
		country_of_origin,
		upc,
		upc_case,
		upc_unit,
		oz_per_case,
		abv,
		description,
		hidden,
		product_class,
		purpose,
		item_tax_type,
		enabled,
		package_id,
		package_name,
		package_count,
		package_item_count,
		package_pack,
		package_size,
		package_unit_of_measurement,
		image,
		vendor_category_id
   from public.t_item ti
  where ti.ws_id = #{wsId}
    and ti.sku = #{sku}

	</select>

</mapper>

